:root{
    --dark-bg-color:#121212;
    --widget-bg-color:#2A2929;
    --button-bg-color:#696767;
    --text-color:#E0E0E0;
}
body {

    
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--dark-bg-color);
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbar {
    position: fixed;
    left: 49.35%;
    bottom: 12px;
    transform: translateX(-50%);
    width: 90%;
    height: 50px;
    max-width: 500px;
}

.text-area {
    color: white;
    height: 100%;
    border: 1px solid var(--button-bg-color);
    outline: none;
    background-color: var(--widget-bg-color);
    border-radius: 10px;
    padding: 3px;
    width: 100%;
}

.text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-out,transform 0.7s ease;
    border: none;
    top: 0;
    right: 0;
    height: 30px;
    border-radius: 50%;
    transform: translateY(45%);
    position: absolute;
    background-color: var(--button-bg-color);
    height: 2rem;
    width: 2rem;

    
}

.text-button:hover {
    background-color: #ffffff;
    cursor: pointer;
    
}
.text-button:active{
    transform: scale(0);
}
.logo {
    width: 20rem;
    height: 20rem;
    position: fixed;
    display: inline-block;
    left: 50%;
    bottom: 25%;
    transform-origin: center;
    animation: logodondurmek 2s linear infinite;
    transform: translateX(-50%) rotateZ(0deg);
}

.logo-foto {
    max-width: 20rem;
    max-height: 20rem;
}


/* Animations */
@keyframes logodondurmek {
    0% {
        transform: translateX(-50%) rotateZ(0deg)
    }

    ;

    100% {
        transform: translateX(-50%) rotateZ(360deg);
    }
}

@keyframes buttondelete {
    0%{
        transform: scale(100);
    }
    100%{
        transform: scale(0);
    }
}
.yonetekst {
    background: #2A7B9B;
    background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    
    justify-content: center;
    align-items: center;
}
.messages-bar{
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
}
.msg-bar{
    margin: 10px;
    background-color: var(--widget-bg-color);
    width: 80vw;
    max-width: 500px;
    
    border: 1px solid var(--button-bg-color);
    border-radius: 10px;
    padding: 10px;
    
}
.msg-content{
        color: var(--text-color);
        font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.msg-text{
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;

}

.cizikchik{
    background-color: var(--button-bg-color);
    max-width: 500px;
    height: 1px;
}
.bosluk{
    height: 75px;
}